<div class="col-md-6">
  <h2 class="text-center">Add campaign</h2>
  <form>
    <div class="form-group">
      <label for="campaignName">Email address:</label>
      <input type="email" [(ngModel)]="campaign.campaignName"
             placeholder="Campaign Name" name="campaignName"
             class="form-control" id="campaignName">
    </div>

    <div class="form-group">
      <label for="keywords">Keywords:</label>
      <input [(ngModel)]="campaign.keywords"
             placeholder="board game, geek" name="keywords"
             class="form-control" id="keywords">
    </div>

    <div class="form-group">
      <label for="bidAmount">Bid amount:</label>
      <input [(ngModel)]="campaign.bidAmount"
             placeholder="2137" name="bidAmount"
             class="form-control" id="bidAmount">
    </div>

    <button class="btn btn-success" (click)="createCampaign()">Create</button>
  </form>
</div>
